<ion-view title="About the App" id="page7" >
  <ion-content padding="true" scroll = "false" class="has-header">
    <div id="about-container11" style="height:  350px; overflow:scroll;border: 1px solid"> 
	<!-- from https://forum.ionicframework.com/t/bottom-fixed-content-not-ion-footer-bar/5535-->
      
	  
	  
	  
	  
	  <h3 id="about-heading3" style="color:#000000;">About the App</h3>
      <div id="about-markdown39" class="show-list-numbers-and-dots">
	  
	  <h4 style="color:#000000;"> ****Sources of Information:***</h4>
		 <p style="color:#000000;">
        Information about previous years 'JEE Advanced Ranks versus JEE Advanced Marks' and IIT Programs Opening and Closing Ranks are obtained from following sources</p>
		 <ol>
          <li>1.http://www.jeeadv.ac.in/jeeadv-reports</li>
		  <li>2.http://josaa.nic.in/Result2016/result/OpeningClosingRank.aspx</li>		  
		</ol>
		 </p>
			
		
	   
		 <p style="color:#000000;"> Year 2016 'JEE Advanced Ranks versus JEE Marks' were obtained from Iqraa Students and their acquaintances and from newspapers*</p>		 
		 
		
	  
        <p style="color:#000000;">Iqraa EduSolutions brings forth ‘IIT JEE Advanced Rank and Branch Predictor’ App. The App predicts the JEE Advanced rank and programs (branches) available to the students based on their expected score in JEE Advanced. 
		The students are required to enter the following:		 
	    </p>
            
        <ol>
          <li>1.  The year of exam</li>
		  <li>2.  The expected total JEE score (total score of all subjects of paper 1 and paper 2 combined) </li>          
          <li>3.  The category (General, OBC, SC, ST) to which they belong </li>         
        </ol>		  
		 
		 <p style="color:#000000;"> For the previous years estimations, the app uses the actual data from official sources to make the 
		 estimations. For the undeclared results, Iqraa predicts the rank and branches available to 
		 the student by estimating the category-specific cut-off percent, the toppers percent and the 'JEE Advanced rank versus JEE Advanced marks' 
		 trend by making use of the following: </p>
      <ol>
          <li>1.  Previous year trends </li>
		  <li>2.  The difficulty level of the paper </li>          
          
        </ol>		
     
      <p style="color:#000000;"> However, the programs available to the student based on JEE Advanced rank (for all years) is determined using the 
	  year "2016" JOSAA report on 'Opening and Closing Ranks' for each program in each IIT. </p>
        
		 
      </div>      
    </div>
   
   <div class="padding">
    <button id="about-button13" class="button button-positive  " ng-click="end()"  style=" position: absolute; bottom: 20px ; Right: 20px">End</button>    
	</div>
   
 </ion-content>
 
 
 
</ion-view>