<ion-view type="item-text-wrap" title="Expected Rank & Branches in IITs" id="IIT Branches" >

<ion-content padding="true" style=" background-color: lightgreen" >
	<div class="padding">
		 
		 <h4> {{RankStatement}}</h4>
		 
		 
	 </div>	 
	 
	 
	<div id="about-container11" style="height:  370px; overflow:scroll; border: 1px solid; overflow-x:hidden;  overflow-y:visible !important; border-radius:1px 1px 1px 1px !important" } >  
    <ion-list>
      
    </ion-list>
	</div>
	
	 <div class="padding">
    <button id="about-button13" class="button button-positive  " ng-click="end()"  style=" position: absolute; bottom: 10px ; Right: 20px">End</button>    
	</div>
	
	
  </ion-content>




  <!--<ion-content padding="true" scroll = "false" class="has-header">
    <div id="about-container11" style="height:  350px; overflow:scroll;border: 1px solid"> 
	////////////from https://forum.ionicframework.com/t/bottom-fixed-content-not-ion-footer-bar/5535
	
	

	<div class="list">
		<div class="item" ng-repeat="AlertNotf in AlertNotfs">
			{{AlertNotf.AlertExamName}}
			{{AlertNotf.AlertMessage}}
		</div>
	</div>
	  
	  
	  
	  
    </div>
   
   <div class="padding">
    <button id="about-button13" class="button button-positive  " ng-click="end()"  style=" position: absolute; bottom: 20px ; Right: 20px">End</button>    
	</div>
   
 </ion-content>
 -->
 
 
</ion-view>