<ion-view title="License Agreeement" id="page7" >
  <ion-content padding="true" scroll = "false" class="has-header">
    <div id="licenseAgreeement-container11" style="height:  350px; overflow:scroll;border: 1px solid"> 
	<!-- from https://forum.ionicframework.com/t/bottom-fixed-content-not-ion-footer-bar/5535-->
      
	  
	  <h3 id="licenseAgreeement-heading3" style="color:#000000;">License Agreement</h3>
      <div id="licenseAgreeement-markdown39" class="show-list-numbers-and-dots">
        <p style="color:#000000;">You may use 'IIT Rank and Branch Predictor' App, if you agree to the following Terms and Conditions:</p>
      </div>
      <h4 id="licenseAgreeement-heading10" style="color:#000000;">Privacy</h4>
      <div id="licenseAgreeement-markdown40" class="show-list-numbers-and-dots">
        <p style="color:#000000;">The following privacy policy describes what information you must provide and how Iqraa EduSolutions handle the information. You agree to our collection and use of the services in the manner described below. The information is collected and used
          to enable us to provide you better and relevant services.</p>

        <p style="color:#000000;">In order to use our services, you agree to provide us your information like phone number, city you live in and email adress. You agree to receive messages and calls on your phone number and messages on email
          related to our services. You agree to receive offers and notifications about our programs. You may unsubscribe from our notifications by contacting us through the contact information provided on our website. Your location information may be used to evaluate our connections location-wise and in order to be able to offer better and location-specific services to you. If you want, you may share
          your contacts information in your address book to provide appropriate services to them. In future, our services may need advertising support. In that case, you would be served by relevant ads.</p>
      </div>
      <h4 id="licenseAgreeement-heading13" style="color:#000000;">Your License Rights</h4>
      <div id="licenseAgreeement-markdown42" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Iqraa EduSolutions grants you a personal, non-transferable license to use its services. Without prior permission, you are not allowed to electronically or otherwise reproduce whole or any part of the contents except for your personal use. In case
          of violation of the agreement, Iqraa EduSolutions reserve the right to terminate your license rights.</p>

        <p style="color:#000000;">You are also not allowed to copy design elements, ‘look and feel’ of the app other than the basic elements and layout. For information about basic design that can be copied, you may contact us through the contact information mentioned on our website.</p>
      </div>
      <h4 id="licenseAgreeement-heading14" style="color:#000000;">Disclaimers</h4>
      <div id="licenseAgreeement-markdown43" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Iqraa refers to the owners, the directors, the employees, the associates, the partners and the licensors. Iqraa presents the material (information about JEE Advanced ranks versus JEE Advanced marks and programs in IITs available based on JEE Advanced rank) which is prepared by it with proper care and which is collected from sources believed to be reliable (from their respective official websites). Proper
          care is taken to remove errors. However, the errors might creep in by chance. The algorithm and/or logic used for rank and programs estimations/ predictions may be erroneous. The users are requested to use the estimations carefully and not to totally rely on the predictions provided herein. Iqraa disclaims ALL WARRANTIES for the accuracy, completeness of the content or the guarantee that you will actually achieve the estimated/ predicted rank and predicted programs in the IITs. Iqraa disclaims liability
          and responsibility for:</p>

        <ol>
          <li>1.  All errors, mistakes in the content</li>
		  <li>2.  Losses that occur due to use of the the predictions/estimations in case they turn out to be incorrect/ inappropriate/ insufficient</li>
          <li>3.  Incompleteness of the information presented</li>
          <li>4.  Irrelevancy of the information</li>
          <li>5.  Improper flow of information as felt by the user</li>
          <li>6.  Slow loading/ display of the content.</li>
          <li>7.  Distorted display of the content</li>
          <li>8.  Inability to use the app,</li>
          <li>9.  Improper functioning of the app</li>
          <li>10.  Any harm to the device system, loss of data, or any other harm or losses that occur due to use of the app or the contents of the app</li>
          <li>11. Deletion of the contents of the app</li>
        </ol>

        <p style="color:#000000;">No promises made by Iqraa orally or written, other than expressly mentioned herein, create any WARRANTY.</p>
      <h4 id="licenseAgreeement-heading15" style="color:#000000;">General</h4>
      <div id="licenseAgreeement-markdown44" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Iqraa EduSolutions may revise the terms and conditions whenever required. </p>

        <p style="color:#000000;">This is an agreement between you and Iqraa EduSolutions, 456 Bhupalpura, Near Shastri Circle, Udaipur-313001, India.</p>

        <p style="color:#000000;">Effective: 19 May 2017</p>

	  
	  
	  </div>
    </div>
   
   <div class="padding">
    <button id="licenseAgreeement-button13" class="button button-positive  " ng-click="LicenseAccept()"  style=" position: absolute; bottom: 0px ">Accept</button>
    <button id="licenseAgreeement-button15" class="button button-balanced " ng-click="LicenseDecline()" style="position: absolute; bottom: 0px; right: 15px" >Decline</button>
	</div>
   
 </ion-content>
 
 
 
</ion-view>