
	<ion-side-menus>
	
	
        
		
		 <!-- Center content -->
   <ion-side-menu-content>
   
        
  <ion-header-bar class="bar-dark">
    <h1 class="title">Todo</h1>
	
	 <!-- New Task button-->
	 
	 
      <button class="button button-icon" ng-click="newTask()">
        <i class="icon ion-compose"></i>
      </button>
	
  </ion-header-bar>
  <ion-content>
    <!-- our list and list items -->
    <ion-list>
      <ion-item >
        11
      </ion-item>
	  <ion-item >
        11
      </ion-item>
	  <ion-item >
        11
      </ion-item>
    </ion-list>
	<a ui-sref="page2" id="maths-button1" class="button button-positive  button-block">Tap me!</a>
	
  </ion-content>
</ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-header-bar class="bar-dark">
        <h1 class="title">Projects</h1>
      </ion-header-bar>
    </ion-side-menu>

 

		
		
		
		
  
	
	
	
	<script id="new-task.html" type="text/ng-template">
<p> New-taskkkk</p>
  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Task</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createTask(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
      </form>

    </ion-content>

  </div>

</script>
	


 </ion-side-menus>	
	