<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--
<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Track Path" icon="ion-ios-navigate" href="#/tab/odRoute" >
      <ion-nav-view name="tab-odRoute"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Trip Survey" icon="ion-ios-list-outline" href="#/tab/tripsurvey" >
      <ion-nav-view name="tab-tripsurvey"></ion-nav-view>
    </ion-tab>
  -->
	<!--
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  
  <ion-tab title="Engineering" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/engineering">
    <ion-nav-view name="tab-engineering"></ion-nav-view>
  </ion-tab>

  
  <ion-tab title="Research Sciences" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/researchSciences">
    <ion-nav-view name="tab-researchSciences"></ion-nav-view>
  </ion-tab>
   
  <ion-tab title="Maths" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/maths">
    <ion-nav-view name="tab-maths"></ion-nav-view>
  </ion-tab>
  -->

</ion-tabs>
